@model tnt.lsdwebsite.Models.ContactFormModel
@{
    ViewBag.Title = "Home";
}

<div class="tnt-parallax tnt-home-banner-img">
    <div class="tnt-caption">
        <span class="tnt-border">Landscape Sprinkler Designer</span>
    </div>
</div>

@*Above banner view*@
<div class="tnt-parallax tnt-home-design-drawing">
    <div class="tnt-divider">
        <div class="tnt-divider-text">
            <span class="tnt-divder-text-header">
                Streamline the design process of a sprinkler system.
            </span>
            <br />
            <br />
            <span class="tnt-divider-text-body">
                Our specially designed software makes it easy to quickly design a sprinkler
                system. Our tools are meant to be easy to use and allow for quick editting so
                you can give your customers exactly what they want. Easily upload an image and
                add it to the background to make drawing the yard convenient.
            </span>
        </div>
    </div>
</div>
<div class="tnt-parallax tnt-home-design-parts-list">
    <div class="tnt-divider">
        <div class="tnt-divider-text">
            <span class="tnt-divder-text-header">
                Provide a parts list with your companies own part codes in common formats such as .csv
            </span>
            <br />
            <br />
            <span class="tnt-divider-text-body">
                Easily and accuartly generate a parts list instantly, allowing you
                to make quick edits and give your customers exactly what they need in
                no time at all.
            </span>
        </div>
    </div>
</div>
<div class="tnt-parallax tnt-home-design-complete">
    <div class="tnt-divider">
        <div class="tnt-divider-text">
            <span class="tnt-divder-text-header">
                Give your customers a clean and easy to read layout design.
            </span>
            <br />
            <br />
            <span class="tnt-divider-text-body">
                Our software generates clean looking images that make it incredibly easy to
                read and follow. Layouts are generated in many common formats such as .png, .jpg, or
                .pdf.
            </span>
        </div>
    </div>
</div>


@*Left side column view*@

@*<div class="tnt-parallax tnt-home-design-drawing">
        <div class="tnt-column">
            <div class="row tnt-column-text">
                <span class="tnt-column-text-header">
                    Streamline the design process of a sprinkler system.
                </span>
                <br />
                <br />
                <span class="tnt-column-text-body">
                    Our specially designed software makes it easy to quickly design a sprinkler
                    system. Our tools are meant to be easy to use and allow for quick editting so
                    you can give your customers exactly what they want. Easily upload an image and
                    add it to the background to make drawing the yard convenient.
                </span>
            </div>
        </div>
    </div>*@
@*<div class="tnt-parallax tnt-home-design-parts-list">
        <div class="tnt-column">
            <div class="row tnt-column-text">
                <span class="tnt-column-text-header">
                    Provide a parts list with your companies own part codes in common formats such as .csv
                </span>
                <br />
                <br />
                <span class="tnt-column-text-body">
                    Easily and accuartly generate a parts list instantly, allowing you
                    to make quick edits and give your customers exactly what they need in
                    no time at all.
                </span>
            </div>
        </div>
    </div>*@
@*<div class="tnt-parallax tnt-home-design-complete">
        <div class="tnt-column">
            <div class="row tnt-column-text">
                <span class="tnt-column-text-header">
                    Give your customers a clean and easy to read layout design.
                </span>
                <br />
                <br />
                <span class="tnt-column-text-body">
                    Our software generates clean looking images that make it incredibly easy to
                    read and follow. Layouts are generated in many common formats such as .png, .jpg, or
                    .pdf.
                </span>
            </div>
        </div>
    </div>*@

<div class="tnt-divider"  style="background-color:#121212">
    <div class="tnt-divider-text">
        <span class="tnt-divder-text-header">
            Find a service that fits your buisness needs.
        </span>
        <br />
        <br />
        <span class="tnt-divider-text-body">
            We offer a variety services and can even tailor one to fit your business needs.
            From licensing our software or allowing our trained irrigation professionals create
            the plans for you. There is a service available for anything you might need.
        </span>
        <br />
        <br />
        <br />
        <br />
        <a class="btn btn-outline-light" asp-controller="Home" asp-action="About">Learn more</a>
    </div>
</div>