/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html, body {
    font-size: 14px;
    margin: 0;
    height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 2px solid #EEE;
}

.border-bottom {
    border-bottom: 2px solid #111;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}


.footer {
    bottom: 0px;
    width: 100%;
    white-space: nowrap;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
}




/*tnt css*/

.tnt-parallax {
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:75%;
}

.tnt-home-banner-img {
    background-image: url("/images/banner.png");
    height: 500px;
    /*background-size: cover;*/
}

.tnt-home-design-drawing {
    background-image: url("/images/design_drawing.png");
    height: 75%;
}

.tnt-home-design-parts-list {
    background-image: url("/images/design_parts_list.png");
    height: 75%;
}

.tnt-home-design-complete {
    background-image: url("/images/design_complete.png");
    height: 100%;
}

.tnt-caption {
    position: absolute;
    left: 0;
    top: 35%;
    width: 100%;
    text-align: center;
    color: #fff;
}

    .tnt-caption span.tnt-border {
        color: #fff;
        border-radius: 15px;
        padding: 18px;
        font-size: 3em;
    }

.tnt-divider {
    padding: 80px 10vw;
    width: 100%;
    background-color: rgba(0,0,0,.65);
    text-align: center;
}

    .tnt-divider div.tnt-divider-text {
        color: #fff;
    }

.tnt-divider-text span.tnt-divder-text-header {
    font-size: 2em;
}

.tnt-divider-text span.tnt-divider-text-body {
    font-size: 1.2em;
    text-align: justify
}


.tnt-column {
    position: absolute;
    height: inherit;
    padding: 80px 8vw;
    width: 80vw;
    background-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0));
}

    .tnt-column div.tnt-column-text {
        /*text-shadow: 3px 3px 5px rgba(17,17,17,1);*/
        /*text-shadow: -1px -1px 5px rgba(17,17,17,1), 1px -1px 5px rgba(17,17,17,1), -1px 1px 5px rgba(17,17,17,1), 1px 1px 5px rgba(17,17,17,1);*/
        color: #fff;
        width: 30vw;
        margin-top: 15%;
    }

.tnt-column-text span.tnt-column-text-header {
    font-size: 2em;
}

.tnt-column-text span.tnt-column-text-body {
    font-size: 1.2em;
    text-align: justify
}

@media (max-width:1100px) {

    .tnt-column div.tnt-column-text {
        width: 50vw;
    }
}

@media (max-width:900px) {
    .tnt-parallax {
        height:125%;
    }
    .tnt-home-banner-img {
        height: 500px;
    }
}
